<odoo>
	<data>
		<menuitem id="cdn_pesantren_top_menu" name="Modul Kesantrian" sequence="20" web_icon="cdn_pesantren,static/description/icon.png" />
		<menuitem id="cdn_pesantren_sub_santri" name="Santri" sequence="30" parent="cdn_pesantren_top_menu" web_icon="cdn_pesantren,static/description/icon.png" />
		<menuitem id="cdn_pesantren_sub_menu" name="Referensi" sequence="40" parent="cdn_pesantren_top_menu" web_icon="cdn_pesantren,static/description/icon.png" />
		<menuitem id="cdn_pesantren_sub_aktivitas" name="Aktivitas" sequence="32" parent="cdn_pesantren_top_menu" web_icon="cdn_pesantren,static/description/icon.png" />
		<menuitem id="cdn_pesantren_sub_konfig" name="Konfigurasi" sequence="45" parent="cdn_pesantren_top_menu" web_icon="cdn_pesantren,static/description/icon.png" />
	</data>
</odoo>